{#
 # View template for the base document construction.
 #}
<!doctype html>
<html class="no-js" {{ site.language_attributes }}>

	{% block head %}
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154990351-1"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag() {
					dataLayer.push(arguments);
				}
				gtag('js', new Date());

				gtag('config', 'UA-154990351-1');
			</script>
			<meta charset="utf-8">
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="google-site-verification" content="GWSOf7vLUdtgel5HbNZK4rXrczDq_ElIn9jRdLaMqvU"/>
			{{ function('wp_head') }}
		</head>
	{% endblock %}

	<body class="{{ body_class }} {% block body_classes %}{% endblock %}">
		{{ function('wp_body_open') }}

		{% block site_body %}

			{% block site_header %}
				{% include 'site-header/site-header.twig' %}
			{% endblock %}

			<main class="header-margin {% block main_class %}{% endblock %}" role="main">
				{% block site_content %}
					{{ __('Sorry, no content was found!', textdomain) }}
				{% endblock %}
			</main>

			{% block site_footer %}
				{% include 'site-footer/site-footer.twig' %}
			{% endblock %}

		{% endblock %}

		{{ function('wp_footer') }}

	</body>

</html>
