{% if nav_items %}
	<ul class="nav-mobile container {{ classes }}">
		{% for item in nav_items %}
			<li class="nav-mobile__item {{ item.get_children ? 'nav-mobile__item--dropdown' }} {{ item.classes|join(' ') }}">
				{% if not item.get_children %}
					<a class="nav-mobile__link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				{% else %}
					<div class="flex items-center justify-start nav-mobile__toggle js-nav-mobile-dropdown-toggle" data-toggle="{{item.slug}}" target="{{ item.target }}" id="{{ item.slug }}-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<div class="nav-mobile__link">
							<span>{{ item.title }}</span>
						</div>
						<div class="nav-mobile__link--toggle ml-1">
							{% include 'assets/images/chevron-down.svg' %}
						</div>
					</div>

					<div class="nav-mobile__dropdown-menu" id="{{item.slug}}" aria-labelledby="{{ item.slug }}-dropdown">
						<div class="nav-mobile__dropdown-content">
							{% for sub_item in item.get_children %}
								<a class="nav-mobile__dropdown-item {{ sub_item.classes|join(' ') }} {{loop.last == false ? 'mb-1' : ''}}" target="{{ sub_item.target }}" href="{{ sub_item.link }}">{{ sub_item.title }}</a>
							{% endfor %}
						</div>
					</div>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
