{% extends "section/section.twig" %}

{% block section_classes %}md:py-6 mb-6 md:mb-12
{% endblock %}

{% block section_content %}
	{% if section.image %}
		{% set image_object = TimberImage(section.image.id) %}
		<div id="section-image-{{image_object.id}}" class="section-image-cta__image"></div>
		{% set selector = '#section-image-' ~ image_object.id %}

		{{responsive_background( image_object.id, 'page-hero-mobile', 'related-post-thumbnail', selector )}}

		<div class="md:hidden mb-3">
			{{responsive_image(image_object.id, 'post-thumbnail', 'post-thumbnail', image_object.alt)}}
		</div>
	{% endif %}

	<div class="container md:px-6 section-image-cta__container">
		<div class="grid grid-cols-12">
			<div class="col-span-12 md:col-span-11 lg:col-span-7 section-image-cta__content py-3 md:py-6">
				<div class="section-image-cta__text">
					<h2 class="h1 mb-4 section-image-cta__title">{{section.title}}</h2>

					{% if section.content %}
						<div class="mb-6">{{section.content}}</div>
					{% endif %}
				</div>

				<a href="{{section.link.url}}" target="{{section.link.target}}" class="btn btn--primary">{{section.link.title}}</a>
			</div>
		</div>
	</div>
{% endblock %}
